body {
    margin: 0;
    padding: 0;

    background-image: url('/static/netflix-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;
    font-family: Arial, sans-serif;
}
.container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

h1 {
    margin-bottom: 30px;
}

input {
    width: 300px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    outline: none;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background: crimson;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.results {
    margin-top: 40px;
}

.movie-card {
    background: #1e1e1e;
    padding: 15px;
    margin: 10px auto;
    width: 300px;
    border-radius: 10px;
}
.error-box {
    background: #00eeff;
    color: white;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border: 2px solid white;
}